[Unit]
Description=Hodr Server
After=dbus.service network.target
[Service]
Environment=NODE_ENV=production
#Environment=NODE_VERSION=24.3.0
WorkingDirectory=%h/hodr_server
Restart=always
RestartSec=10
ExecStart=%h/.nvm/nvm-exec npm run start

[Install]
WantedBy=default.target
