body {
    overflow-x: auto; /* Enable horizontal scrolling if content overflows */
    padding: 0;
    
}
#data {
    white-space: nowrap;
    font-family: monospace;
}

table {
    border-collapse: collapse;
    width: max-content; /* Adjust table width based on content */
    table-layout: fixed;
}

table tr td {
    border: 1px solid #ccc;
    padding: 2px 4px;
    text-align: left;
}

th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    text-wrap: wrap;
    width: min-content; /* Set a fixed width for each header cell */
    padding: 2px 4px;
    border: 1px solid #ccc;
    vertical-align: bottom;
}
/* tr th {
    word-wrap: break-word;
    width: min-content;
} */