@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');

        div {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            height: 100dvh;
            display: flex;
            flex-direction: row;
        }

        #top-bar {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 20px;
            display: flex ;
            flex-direction: column;
            align-items: center;
        }

        #logo-container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: 75px;
        }

        #logo-graphics {
            height: 100%;
            flex: 1 0.75;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        #logo-colours {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            height: 100%;
            
            
        }

        .logo-vert {
            width: 7.5px;
            height: 80%;
            background-color: #007bff;
            margin: 0 1px;
            border-radius: 5px;
        }

        #l1 {
            background-color: #9817b8;
            box-shadow: 0 0 10px #9817b8;
        }

        #l2 {
            background-color: #007bff;
            box-shadow: 0 0 10px #007bff;
        }

        #l3 {
            background-color: #28a745;
            box-shadow: 0 0 10px #28a745;
        }

        #l4 {
            background-color: #ffc107;
            box-shadow: 0 0 10px #ffc107;
        }

        #l5 {
            background-color: #dc3545;
            box-shadow: 0 0 10px #dc3545;
        }

        #boat {
            position: absolute;
            bottom: 0px;

            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }


        #logo-text {
            font-size: 24px;
            font-weight: bold;
            color: #ffffff;
            font-family: 'Skranji', cursive;
            user-select: none;
            margin-top: auto;

        }

        #power-button-container {
            width: 100%;
            
            display: flex;
            flex-direction: column;
            color: #ccc;
        }

        #power-button-container button {
            
            width: 100%;
            height: 85px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: #0000;
            cursor: pointer;
            font-size: xx-large;
            font-weight: bold;
            transition: color 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
            
        }

        #connection-status-container {
            height: 85px ;
            display: flex;
            flex-direction: column;
            color: #ccc;
        }

        #connection-status-icon {
            font-size: xx-large;
            color: #bbbbbb;
            transition: color 0.3s ease, text-shadow 0.3s ease;
        }

        #power-button-container button.unknown {
            color: #bbbbbb;
        }

        #power-button-container button.pending, #connection-status-icon.pending {
            color: #ffcc00;
            text-shadow: 
            0 0 5px #ffcc00,
            0 0 10px #ff9900;
        }

        #power-button-container button.on, #connection-status-icon.connected {
            color: #41ff6e;

            text-shadow: 
            0 0 5px #39e962,
            0 0 10px #28a745;
        }
        
        #power-button-container button.on:hover {
            color: #28a745;
            text-shadow: 
            0 0 5px #28a745,
            0 0 10px #28a745;
        }

        #power-button-container button.off , #connection-status-icon.disconnected {
            color: #aa2936;
         
        }

        #power-button-container button.off:hover {
            color: #ff0000;
            text-shadow: 
            0 0 5px #ff0000,
            0 0 10px #ff0000;
        }

        #main-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: #585858;
            /* overflow: scroll; */
            box-sizing: border-box;
            padding: 20px;
            gap: 20px;
        }

        #temp-area {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin: 0px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #333;
            color: #ffffff;
            flex: 0.5 1;
        }

        #spectrum-area {
            flex: 1.5;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            margin: 0px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #333;
            color: #ffffff;
        }


        #spectrum-chart-container {
            width: 100%;
            height: 100%;
            flex: 1 1;
        }

        #spectrum-bar {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: 100%;
        }

        #spectrum-bar span {
            font-size: large;
        }

        #spectrum-status {
            margin-top: 30px;
        }

        #spectrum-status span {
            font-size: 1.2em;
            color: #72bdc0;
        }


        #spectrum-info {
            display: flex;
            flex-direction: column;
            align-items: left;
            height: 100%;
            width: 100%;
            margin-top: 30px;
            flex: 1;
        }

        .spectrum-info-item {
            margin-bottom: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .spectrum-info-item .info-value span:first-child {
            color: #72bdc0;
        }

        #acquisition-options-container {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 2px;

        }

        .acq-option {
            width: 100%;
            display: flex;

            align-items: center;
            justify-content: start;
        }

        .acq-option span {
            margin-right: auto;
            font-size: 1.2em;
        }

        .acq-option.disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        .acq-option input,
        .acq-option select {
            margin-left: 5px;
            flex: 1;
            min-width: 100px;
        }

        .control-mode-option {
            padding: 5px 10px;
            background-color: #444;
            color: #ffffff;
            border: none;
            cursor: pointer;
            font-size: 1.2em;
            margin-left: 5px;
            transition: background-color 0.3s ease;
        }

        .control-mode-option:hover {
            background-color: #0056b3;
        }

        .control-mode-option.active {
            background-color: #0056b3;
            color: #ffffff;
        }

        [data-tip] {
            position: relative;

        }

        [data-tip]:before {
            content: '';
            /* hides the tooltip when not hovered */
            display: none;
            content: '';
            display: none;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #1a1a1a;
            position: absolute;
            top: 30px;
            left: 35px;
            z-index: 8;
            font-size: 0;
            line-height: 0;
            width: 0;
            height: 0;
            position: absolute;
            top: 30px;
            left: 35px;
            z-index: 8;
            font-size: 0;
            line-height: 0;
            width: 0;
            height: 0;
        }

        [data-tip]:after {
            display: none;
            content: attr(data-tip);
            position: absolute;
            top: 35px;
            left: 0px;
            padding: 5px 8px;
            background: #1a1a1a;
            color: #fff;
            z-index: 9;
            font-size: 0.75em;
            height: 18px;
            line-height: 18px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            white-space: nowrap;
            word-wrap: normal;
        }

        [data-tip]:hover:before,
        [data-tip]:hover:after {
            display: block;
        }

        #buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-top: auto;
            height: max-content;
            width: 100%;
        }

        #spectrum-capture-button, #download-button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #eeeeee;
            border: none;
            cursor: pointer;
            font-size: xx-large;
            text-decoration: none;
            font-weight: bold;
            margin-inline: 10px;
            height: 2em;

            min-width: fit-content;
            transition: all 0.15s ease;
            box-sizing: border-box;

        }

        #spectrum-capture-button {
            width: 100%;
            flex: 1;
            text-align: center;
        }

        #spectrum-capture-button.disabled,  #download-button.disabled, #set-temp-button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        #spectrum-capture-button:hover:not(.disabled), #download-button:hover:not(.disabled) {
            background-color: #0056b3;
        }
        #download-button {
            background-color: #ce730c;
            text-decoration: none;
            color: #eeeeee;
            flex: 0 1 auto;
        }

        #chart-container {
            width: 100%;
            flex: 1;
            height: 100%;

        }

        #temp-bar {
            flex: 0 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            margin-top: 20px;
            margin-left: 10px;
            height: 100%;
            min-width: max-content;
        }

        #temp-status {
            width: 100%;
        }


        #current-temp-status {
            box-sizing: border-box;
            display: inline-block;
            font-weight: bold;
            background-color: rgb(112, 112, 112);
            border: #333 solid 1px;
            padding: 5px 10px;
            width: 100%;
            text-align: center;

        }

        #current-temp-status.not-reached {
            background-color: rgb(163, 40, 40);

        }

        #current-temp-status.not-stabilized {
            background-color: rgb(187, 106, 0);
        }

        #current-temp-status.stabilized {
            background-color: rgb(70, 107, 70);
        }

        #temp-bar span {
            font-size: 1.2em;
        }

        #set-temp-container {
            display: flex;
            align-items: center;
        }

        #set-temp-container input {
            width: 70px;
            padding: 5px;
            margin-right: 5px;
            margin-left: 5px;
            border-radius: 0;
            border: none;
            border-bottom: 2px solid #333;
            font-size: 1.2em;
            text-align: center;
        }

        #set-temp-container button {
            padding: 5px 10px;
            margin-left: 5px;
            background-color: #0099ad;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 1.2em;
        }

        #set-temp-container button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }